@{
    ViewBag.Title = "About";
}
<h2>Пицца</h2>

<p> Это контрольное задание по курсу "Современные технологии программирования в инфокоммуникационных системах".
    Оно состоит из двух страниц: пиццы и заказы. Неавторизованные пользователи наравне с авторизованными могут просматривать каталог и оформлять заказ.
    Разница только в том, что у авторизованных пользователей автоматически проставляется их email в поле с именем.
    Просматривать список заказов, настраивать меню может только пользователь с правами admin.
    <br />
    Автор: Карин Тимофей, студент группы K4111c.
    <br />
    Спасибо за внимание.
    
    </p>