@{
    ViewBag.Title = "Home";
}

<main>
    <h2> Рады приветствовать вас в нашей пиццерии. Ознакомиться с меню вы можете в разделе @Html.ActionLink("Меню", "Index", "Pizzas")"
    </h2>
</main>